.sign{
    width: 120%;
    background-color: rgb(213, 206, 206);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-top: -8px;
    margin-left: -10px;
}
.logo{
    width: 120px;
    height:120px;
    margin-left: -300px;
    
}
.sign .btn{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: white;
    background-color: blue;
    cursor: pointer;
}