.sign-up span{
     display: flex;
     flex-direction: row;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up span h1{
    margin-right: 150px;
}
.sign-up span a{
    margin-top: 30px;
}
.input2 .input3{
    width: 280%;
    border: solid 1px;
    background-color: white;
}
.sign-up button{
    width: 80%;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(168, 167, 167);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}